* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
    --default-border: 1px solid rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}


.content {
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    ;
    gap: 8.5rem;
}

main {
    grid-area: form;
}

aside {
    grid-area: hero;
}


aside h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span, main h2 span {
    color: #FF5678;
}

main {
    width: 60rem;
    height: 52rem;
    border: var(--default-border);
    padding: 4.4rem 5.7rem;
    border-radius: 1.2rem;
    position: relative;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions {
    display: flex;
   flex-flow: column wrap;
}

main .actions a {
    border-radius: 1.2rem;
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: #35E6E9;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
    
}

main .actions a + a {            
    background-color:#FF5678;
    margin-top: 4.8rem;
}

main header {
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
}

main header i {
    font-size: 2.4rem;
    color: #FF5678;
}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: #000000;
}

main form {
    margin-top: 1.6rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 1rem;
    display: block;
}


main form input {
    width: 489px;
    height: 5.5rem;
    background: #ffffff;
    border: var(--default-border);
    border-radius: 1.2rem;
}


main form .points {
    position: relative;
}

main form input + button {
    position: absolute;
    right: -3.8rem;
    top: calc(2.7rem + 2.3rem);
    background-color: transparent;
    border: none;
    color: #35E6E9;
    font-size: 2.4rem;
    cursor: pointer;
}

h3 {
    text-align: center;
    padding: 4rem ;
    color: rgb(150, 140, 127);
}

 footer {
    text-align: center;
    background-color: rgb(211, 209, 207);
    padding: 2em;
}

@media (max-width: 450px) {
    .actions {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    main form input + button {
        flex-direction: column;
        height: auto;
        width: 100%
    }
}

